html, body {
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    min-height: 1000px;
}


/* Latihan 1 */
.container-satu {
    width: 90%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}

/* Latihan 2 */
.container-dua {
    width: 90%;
    margin: 50px auto;
}
    .layanan {
        padding: 15px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }
    .layanan.satu {
        background-color: dodgerblue;
    }
    .layanan.dua {
        background-color: lightgreen;
    }
    .layanan.tiga {
        background-color: #9524ff;
    } 
 
/* Latihan 3 */
.container-tiga {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    .thumbnail {
        width: 50%;
    }
    .thumbnail img {
        height: 200px;
        width: 100%;
    }
 
/* Latihan 4 */
.container-empat {
    width: 90%;
    margin: 50px auto;
}
    .card {
        border: 2px #c2c2c2 solid;
        padding-bottom: 15px;
        box-sizing: border-box;
        background-color: #eee;
        width: 85%;
        margin: auto;
    }
    .card.besar {
        width: 100%;
    }
    .card header {
        height: 150px;
        background-color: #666;
    }
    .card .content {
        text-align: center;
        padding: 0 15px;
    }

/* Latihan 5 */
.container-lima {
    width: 90%;
    min-height: 500px;
    margin: 50px auto;
    border: 5px rgb(156, 156, 156) solid;
    display: flex;
    padding: 15px;
    box-sizing: border-box;
}
    .kotak {
        width: 20%;
        min-height: 50px;
        background-color: dodgerblue;
        padding: 15px;
        box-sizing: border-box;
        margin: auto;
        display: flex;
    }
        .kotak span {
            margin: auto;
            text-align: center;
        }
 
/* Responsive */
@media(min-width: 540px) {
    .container-satu {
        display: flex;
        justify-content: space-between;
    }
    .kolom-utama {
        flex: 3;
        order: 2;
        margin: 0 20px 0   10px;
    }
    .sidebar-satu {
        flex: 1;
        order: 1;
    }
    .sidebar-dua {
        flex: 1;
        order: 3;
    }
    .container-dua {
        display: flex;
        justify-content: space-between;
    }
    .layanan {
        width: 30%;
    } 
    .thumbnail {
        width: 25%;
    }
    .container-empat {
        display: flex;
    }
    .card.besar {
        transform: scale(1.15);
        margin: 0 10px;
    }
}      