* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
nav {
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
nav .logo {
    color: #dec3f7;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
}
nav ul {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    list-style: none;
    width: 40%;
    transition: 1s;
    /* background-color: aquamarine; */
}
nav ul li a {
    text-decoration: none;
    font-size: .8em;
    color: rgb(201, 151, 248);
}
nav ul li a:hover {
    color: rgb(234, 211, 255);
}

/* Hamburger Menu Animation */
nav .menu-toggle {
    height: 20px;
    width: auto;
    display: none;
    flex-direction: column;
    /* background-color: black; */
    justify-content: space-between;
    /* background-color: black; */
    cursor: pointer;
} 
nav .menu-toggle span {
    width: 28px;
    display: block;
    height: 3px;
    background-color: #dec3f7;
    transition: all .5s;
}
/* nav .menu-toggle span:first-child {
    transform: rotate(45deg) translate(-1px, -1px);
    transform-origin: left center;
} */
/* nav .menu-toggle span:nth-child(2) {
    transform: scale(0);
    opacity: 0;
}
nav .menu-toggle span:last-child {
    transform: rotate(-45deg) translate(-1px, 0);
    transform-origin: left center;
} */

/* Responsive Breakpoint */

/* Tampilan Tablet */
@media screen and (max-width: 768px) {
    nav ul {
        width: 50%;
    }
}
/* Tampilan Mobile */
@media screen and (max-width: 576px) {
    nav .menu-toggle {
        display: flex;
    } 
    nav ul {
        position: absolute;
        right: 0;
        top: 0; 
        width: 80%;
        background-color: blueviolet;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        z-index: -1;
        opacity: 0;
        transition: all 1s;
        transform: translateX(100%);
    }
    nav .slide {
        opacity: 1;
        transform: translateX(0);
    }
}